@media all and (max-width: 768px) {
  .quote {
    font-family: PlayfairDisplay;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #ffffff;
    padding-left: 8px;
    margin-bottom: 24px; }
  .simple {
    border-left: 2px solid white; }
  .question {
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: justify;
    color: #ffffff; }
    .question::before {
      position: relative;
      width: 16px;
      height: 1px;
      margin-bottom: 5px;
      background: white;
      display: inline-block;
      content: "";
      margin-right: 8px; } }
