.cta {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: transparent;
  font-family: AktivGrotesk;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  border: none;
  opacity: .7;
  transition: all .3s ease; }
  .cta:not(:last-child) {
    margin-right: 20px; }
  .cta:hover {
    cursor: pointer;
    opacity: 1; }

.cta-white {
  padding: 8px 16px;
  border-radius: 20px;
  border-color: white;
  background-color: transparent;
  font-family: AktivGrotesk;
  font-size: 18px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white; }
  .cta-white:not(:last-child) {
    margin-right: 20px; }
  .cta-white:hover {
    cursor: pointer; }

@media all and (max-width: 768px) {
  .cta {
    font-size: 14px; } }
