@media all and (max-width: 768px) {
  .societyContentImage {
    position: relative;
    margin-bottom: 24px; }
    .societyContentImage img {
      height: 240px;
      width: 100%;
      object-fit: cover; }
    .societyContentImage .gradient {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2; }
  .fullWidth {
    padding: 0;
    margin: 0 -24px 0 -24px; }
    .fullWidth img {
      height: 240px;
      width: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1; }
  .left {
    padding-left: 0;
    padding-right: 64px; }
    .left img {
      height: 200px; }
  .right {
    padding-left: 64px;
    padding-right: 0; }
    .right img {
      height: 200px; } }
