.societyContentImage {
  position: relative;
  margin-bottom: 24px;
  flex: 2;
  overflow: hidden; }
  .societyContentImage img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    display: block; }
  .societyContentImage .gradient {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }

.societyContentImage.fullWidth {
  padding: 0;
  margin: 0 -32px 32px -32px; }
  .societyContentImage.fullWidth img {
    height: 400px;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1; }

.societyContentImage.left {
  margin-left: 0;
  margin-right: 0px; }
  .societyContentImage.left img {
    height: 400px; }

.societyContentImage.right {
  margin-left: 0px;
  margin-right: 0; }
  .societyContentImage.right img {
    height: 400px; }

.p + .imageContainer .societyContentImage {
  margin: 0 0 24px 0; }

@media all and (max-width: 768px) {
  .societyContentImage {
    margin-bottom: 32px; }
    .societyContentImage img {
      height: 256px; }
  .societyContentImage.fullWidth {
    margin: 0 -32px 32px -32px; }
    .societyContentImage.fullWidth img {
      height: 256px; }
  .societyContentImage.left {
    margin-right: 0px; }
    .societyContentImage.left img {
      height: 400px; }
  .societyContentImage.right {
    margin-left: 0px; }
    .societyContentImage.right img {
      height: 400px; } }

@media all and (max-width: 750px) {
  .societyContentImage {
    margin-bottom: 24px; }
    .societyContentImage img {
      height: 240px; }
  .societyContentImage.fullWidth {
    padding: 0;
    margin: 0 -24px 24px -24px; } }
