.vote {
  color: white;
  display: flex;
  width: 100%; }
  .vote .voteBtn {
    flex: 1;
    text-align: center;
    background: #2b2b2b;
    padding: 20px;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
    .vote .voteBtn:first-child {
      border-radius: 5px 0 0 5px; }
    .vote .voteBtn:last-child {
      border-radius: 0 5px 5px 0; }
