.mainUi {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1250px;
  padding: 0 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(auto, 400px) 150px;
  grid-column-gap: 200px;
  transform: translateY(-50%); }
  .mainUi .p {
    animation: none;
    transform: none;
    opacity: 1; }
  .mainUi .project_title {
    font-size: 34px;
    text-align: left;
    text-transform: capitalize;
    animation: none;
    display: inline-block;
    margin: 0 auto;
    color: white;
    transition: color .3s ease-in-out;
    width: 100%;
    font-family: AktivGrotesk;
    font-weight: 600; }
  .mainUi .project_description {
    position: relative;
    width: 100%;
    font-weight: 100;
    color: white;
    line-height: 1.33;
    opacity: .6; }
  .mainUi .cta {
    background: none;
    border: none;
    display: table;
    align-self: center; }
  .mainUi .description {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center; }

@media all and (max-width: 768px) {
  .mainUi {
    grid-template-columns: 1fr; }
    .mainUi .cta {
      display: none; } }
