.mainUi
    display: flex
    justify-content: space-around
    max-width: 900px
    margin: 0 auto
    .projectName
        display: flex
        align-items: center
        justify-content: center
        position: relative
        width: 300px
        height: 100px
        p
            font-size: 72px
            text-align: center
            text-transform: uppercase
            position: absolute
            animation: none
            display: inline-block
            margin: 0 auto
            color: white
            transition: color .3s ease-in-out
            width: 100%
            &::before
                position: absolute
                display: block
                top: 0
                left: 0
                width: 0%
                right: auto
                bottom: 0
                height: 100%
                z-index: 1
                background: white
                content: ""
                transition: all .5s ease
        .p-enter
            color: transparent
            &::before
                left: 0
                width: 0%
                right: auto
        .p-enter-active
            color: transparent
            &::before
                left: 0
                width: 100%
                right: auto
        .p-enter-done
            color: white
            &::before
                left: auto
                width: 0%
                right: 0
        .p-exit
            color: white
            &::before
                left: 0
                width: 0%
                right: auto
        .p-exit-active
            color: white
            &::before
                left: 0
                width: 100%
                right: auto
        .p-exit-done
            color: transparent
            &::before
                left: auto
                width: 0%
                right: 0
        // .p-appear
        //     color: transparent
        // .p-appear-active
        //     color: transparent

    .cta
        background: none
        border: none
        display: table
    .description
        color: white
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        max-width: 400px
    .p
        animation: none
        transform: none
        opacity: 1